<li id="article-<%= article.id %>">
  <span><%= link_to article.title, class: "article-title" %></span>
  <div class="article-information">
    <span class="article-author">投稿者: <%= article.user.name %></span>
    <span class="article-timestamp"><%= article.created_at %></span>

  <% if current_user?(article.user) %>
    <%= link_to "delete", article, method: :delete, data: {confirm: "記事を削除しますか？"} %>
  <% end %>
  </div>
</li>
