<li id="article-<%= article.id %>">
  <div class="article-top-left">
    <% if article.thumbnail.url %>
      <%= image_tag article.thumbnail.url, class: "article-image", size: "70x70", id: "attached-picture" %>
    <% elsif article.category %>
      <%= image_tag "categories/category_#{article.category.name}.jpg", class: "article-image", size: "70x70", id: "category-picture" %>
    <% else %>
      <%= image_tag 'default_thumbnail.png', class: "article-image", size: "70x70", id: "default-picture" %>
    <% end %>
  </div>

  <div class="article-top-right">
    <div class="article-top-right-content">
      <div class="article-title-wrapper"><%= link_to "#{article.title}", article_path(article), class: "article-title" %></div>
        <div class="article-btn-wrapper">
          <div class="text-center">

            <% if current_user?(article.user) %>
              <%= link_to edit_article_path(article), class: "article-update-btn" do%>
                <i class="far fa-edit"></i>
              <% end %>
              <%= link_to article, method: :delete, data: {confirm: "記事を削除しますか？"}, class: "article-delete-btn" do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            <% end %>

          </div>

          <div class="bookmark-wrapper">
            <div class="bookmark-form", id="bookmark-form-<%= article.id %>">
              <%= render partial: 'articles/bookmark_form', locals: {article: article} %>
            </div> 
            <div id="bookmark-count-<%= article.id %>">
              <span id="bookmark-number"><%= article.bookmarks.count %></span>
            </div> 
          </div>
        </div>
    </div>

    <div> 
      <span class="article-category badge badge-warning">
        カテゴリ：<%= (article.category.nil?) ? "なし" : article.category.name %>
      </span>
      <% article.tags.pluck(:name).each do |tag_name| %>
        <span class="badge badge-info"><%= link_to tag_name, tag_path(tag_name), class: "article-tag" %></span>
      <% end %>
      </span>
    </div>
    
    <div class="article-information">
      <span ><%= link_to "投稿者: #{article.user.name}", user_path(article.user), class: "article-author" %></span>
      <span class="article-timestamp"><%= article.created_at.strftime("%Y年%m月%d日 %H:%M") %></span>
    </div>
  </div>
</li>