<% provide(:title, "新規記事") %>

<div class="container">
  <div class="form-container">
  <h1 class="mb-4">記事投稿</h1>
    <%= form_with(model: @article, url: articles_path, local: true) do |f| %>

      <%= render 'shared/error_messages', model: f.object %>

      <div class="form-group">
        <%= f.label :title, "タイトル", class: "d-inline" %> <span class="badge badge-danger ml-2">必須</span>
        <%= f.text_field :title, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :citation, "引用", class: "d-inline" %> <span class="badge badge-danger ml-2">必須</span>
        <%= f.text_field :citation, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :content, "内容", class: "d-inline"  %><span class="badge badge-danger ml-2">必須</span>
        <%= f.rich_text_area :content, class: "form-control article-content-form" %>
      </div>

      <div class="form-group">
        <%= f.label :thumbnail, "サムネイル画像", class: "d-inline"  %><span class="badge badge-secondary ml-2">任意</span>
        <%= f.file_field :thumbnail, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :category_id, "カテゴリー", class: "d-inline"  %><span class="badge badge-secondary ml-2">任意</span>
        <%= f.collection_select :category_id, @categories, :id, :name, {include_blank: "選択してください"}, {class: "form-control"} %>
      </div>

      <div class="form-group">
        <%= f.label :tag_list, 'タグ', class: "d-inline" %><span class="badge badge-secondary ml-2">任意</span>
        <%= text_field_tag 'article[tag_list]', @article.tag_list.join(','),class: "form-control", "data-role" => "tagsinput" %>
      </div>

      <%= f.submit "投稿する", class: 'btn btn-primary mt-2' %>
    <% end %>
  </div>
</div>