<% provide(:title, "新規記事") %>

<div class="container">
  <div class="form-container">
  <h1 class="mb-4">記事投稿</h1>
    <%= form_with(model: @article, url: articles_path, local: true) do |f| %>

      <%= render 'shared/error_messages', model: f.object %>

      <div class="form-group">
        <%= f.label :title, "タイトル" %>
        <%= f.text_field :title, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :content, "内容" %>
        <%= f.text_area :content, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :thumbnail, "サムネイル画像" %>
        <%= f.file_field :thumbnail, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :category, "カテゴリー" %>
        <%= f.collection_select :category_id, @categories, :id, :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :tag_list, 'タグ' %>
        <%= text_field_tag 'article[tag_list]', @article.tag_list.join(','), class: "form-control", "data-role" => "tagsinput" %>
      </div>

      <%= f.submit "投稿する", class: 'btn btn-primary mt-2'%>
    <% end %>
  </div>
</div>