<% provide(:title, "#{@article.title}") %>

<div class="article-container mt-4">
  <div class="row">
    <div class="col-lg-9">
      <%=image_tag @article.user.image.profile90.url, size: "50x50", class: "article-user-profile-image mb-4"%>
      <h6 class="d-inline profile-image"><%= @article.user.name %></h6>

      <h2><%= @article.title %></h2>

      <div>
        <span class="article-category badge badge-warning">
          カテゴリ：<%= (@article.category.nil?) ? "なし" : @article.category.name %>
        </span>
        <% @article.tags.pluck(:name).each do |tag_name| %>
          <span class="badge badge-info"><%= link_to tag_name, tag_path(tag_name), class: "article-tag" %></span>
        <% end %>
        </span>
      </div>

      <p class="mt-3">出典：<%= @article.citation %></p>

      <p class="article-posted-time mt-3"><%= @article.created_at.strftime("%Y年%m月%d日 %H:%M")%></p>
      
      <div class="clearfix">
        <div class="float-right pl-sm-3 pb-sm-2">
          <% if @article.thumbnail.url %>
            <%= image_tag @article.thumbnail.url, class: "article-show-image", size: "300x300"  %>
          <% elsif @article.category %>
            <%= image_tag "https://d1y0f4wly1zzzj.cloudfront.net/thumbnail/category_#{@article.category.name}.jpg", class: "article-show-image", size: "300x300" %>
          <% else %>
            <%= image_tag "https://d1y0f4wly1zzzj.cloudfront.net/thumbnail/default_thumbnail.png", class: "article-show-image", size: "300x300" %>
          <% end %>
        </div>
        <%= @article.content %>
      </div>

      <div class="related-article mt-5">
        <p class="h4 mt-3 font-weight-bold">関連した記事</p>
        <ul class="articles">
          <%= render @related_articles %>
        </ul>
      </div>

      <div class="comment mt-5">
      <p class="h4 mt-3 font-weight-bold">コメント</p>
        <%= render 'comments/comment_area', comments: @comments %>
        <% if logged_in? %>
          <div class="comment-form">
            <%= form_with(model: [@article, @comment], remote: true) do |f| %>
              <%= f.text_area :content, class: "form-control my-3", placeholder: "コメントを入力" , rows: "4", id: "comment-textarea" %>
              <%= f.submit "コメントする", class: "btn btn-primary" %>
            <% end %>
          </div>
        <% end %>
      </div>
        

    </div>

    <div class="col-lg-3">
    
    </div>
  </div>
</div> 