
<div class="container">
  <div class="form-container">
  <h1 class="mb-4">ユーザー情報編集</h1>
    <%= form_with(model: @user, local: true) do |f| %>

      <%= render 'shared/error_messages', model: f.object %>

      <div class="form-group">
        <%= f.label :name, "ユーザー名" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :email, "メールアドレス" %>
        <%= f.text_field :email, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, "パスワード（確認のため再入力）" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>

      <%= f.submit "保存する", class: 'btn btn-primary'%>
    <% end %>

     <%= link_to "退会する", user_path(@user),method: :delete, class: "btn btn-danger mt-4" %>
  </div>
</div>
