<% provide(:title, "ユーザー一覧") %>

<div class="container">

  <%= search_form_for @q do |f| %>
    <%= f.label :name_cont, "ユーザー名" %>
    <%= f.search_field :name_cont %>

    <%= f.submit "検索" %>
  <% end %>
  
  <div class="my-3"><%= paginate @users %></div>

  <ul class="users">
    <% @users.each do |user| %>
      <li>
         <div class="index-image-round">
          <%= image_tag user.image.profile90.url, class: "index-profile-image" %>
        </div>
        <%= link_to user.name, user_path(user), class: "my-auto" %>
      </li>
    <% end %>
  </ul>

  <div class="my-3"><%= paginate @users %></div>
</div>
