<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="profile-top">
        <div class="image-round">
          <%= image_tag @user.image.profile100.url, class: "profile-image" %>
        </div>
        <h3><%= @user.name %></h3>
      </div>
        <%= render 'follow_form' if logged_in? %>

       <div class="profile-info">
        <p>投稿：<%= @user.articles.count %>件</p>

        <a href="<%= following_user_path(@user) %>">
          フォロー：<strong id="following" class="stats"><%= @user.following.count %></strong>
        </a>

        <a href="<%= followers_user_path(@user) %>">
          フォロワー：<strong id="followers" class="stats"><%= @user.followers.count %></strong>
        </a>
      </div>
    </div>

    <div class="col-sm-9">
       <ul class="users">
    <% @users.each do |user| %>
      <li>
         <div class="image-round">
          <%= image_tag user.image.profile90.url, class: "profile-image" %>
        </div>
        <%= link_to user.name, user_path(user), class: "my-auto" %>
      </li>
    <% end %>
  </ul>

  <div class="my-3"><%= paginate @users %></div>
      
    </div>
  </div>
</div>