<div class="container">
  <div class="row">
    <div class="col-sm-3", id="profile-sidebar">
      <%= render 'users/profile_sidebar', {user: @user, viewpage: "show"}%>
    </div>

    <div class="col-sm-9">
      <h2><%= @title %></h2>
       <ul class="users">
    <% @users.each do |user| %>
      <li>
         <div class="index-image-round">
          <%= image_tag user.image.profile90.url, class: "profile-image" %>
        </div>
        <%= link_to user.name, user_path(user), class: "my-auto" %>
      </li>
    <% end %>
  </ul>

  <div class="my-3"><%= paginate @users %></div>
      
    </div>
  </div>
</div>