<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-black">
      <div class="icon-wrap navbar-brand">
        <%= link_to image_tag('header-icon.png', :class => "header-icon"), root_path, class: "header-icon" %>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-3 my-lg-0">
          <input class="form-control" type="search" placeholder="キーワード検索" aria-label="Search">
          <button class="btn btn-primary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        </form>

        <div class="dropdown mt-1">
          <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            メニュー
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <%= link_to user_path(current_user), class: "dropdown-item" do %>
             <i class="fas fa-user mr-1"></i>マイページ
            <% end %>
            <%= link_to edit_user_path(current_user), class: "dropdown-item" do %>
              <i class="fas fa-cog mr-1"></i>ユーザー情報編集
            <% end %>
            <%= link_to logout_path, method: :delete, class: "dropdown-item" do %>
             <i class="fas fa-sign-out-alt mr-1"></i>ログアウト
             <% end %>
          </div>
        </div>
        
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
           <%= link_to user_path(current_user), class: "nav-link" do %>
             <i class="fas fa-user mr-1"></i>マイページ
            <% end %>
          </li>
          <li class="nav-item">
             <%= link_to edit_user_path(current_user), class: "nav-link" do %>
              <i class="fas fa-cog mr-1"></i>ユーザー情報編集
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to logout_path, method: :delete, class: "nav-link" do %>
             <i class="fas fa-sign-out-alt mr-1"></i>ログアウト
            <% end %>
          </li>
        </ul>


      </div>
    </nav>
</header>