
<div class="main">
  <div class="top-image-text">
    <p>科学をもっと身近に</p>
    <%= link_to '新規登録', new_user_path, class: "btn-lg btn-primary", id: "signup-button" %>
  </div>
</div>

<div class="topics">
  <div class="container">
    <h2>Topics <span>(人気の記事)</span></h2>

    <div class="row">
      <% @top_articles.each do |article| %>
        <div class="article-top-wrapper col-12 col-sm-6 col-lg-4">
          <% if article.thumbnail.url %>
            <%= image_tag article.thumbnail.url, class: "article-top-image", size: "300x300", id: "attached-picture" %>
          <% elsif article.category %>
            <%= image_tag "https://d1y0f4wly1zzzj.cloudfront.net/thumbnail/category_#{article.category.name}.jpg", class: "article-top-image", size: "300x300", id: "category-picture" %>
          <% else %>
            <%= image_tag "https://d1y0f4wly1zzzj.cloudfront.net/thumbnail/default_thumbnail.png", class: "article-top-image", size: "300x300", id: "default-picture" %>
          <% end %>

          <div class="article-top-info"> 
            <%= link_to article.title, article_path(article), class: "article-top-title d-block" %>
            <span class="article-category badge badge-warning">
              カテゴリ：<%= (article.category.nil?) ? "なし" : article.category.name %>
            </span>
            <% article.tags.pluck(:name).each do |tag_name| %>
              <span class="badge badge-info"><%= link_to tag_name, tag_path(tag_name), class: "article-tag" %></span>
            <% end %>
          </div>
      
        </div>
      <% end %>
      
    </div>
  </div>
</div>


